test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd
backend/*.sqlite3
backend/resources/city-response*
backend/logs
backend/foods.db

.idea