@import '@fontsource/fira-mono';
@import 'bulma/css/bulma.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';


html, body {
    background-color: #EAEDED !important;
    color-scheme: light;
}

.box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 1000px;
    margin: auto;
}

.box-has-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.bigger-tag {
    font-size: 1.2rem;
}
